
  h2 { 
    font-size: 160%;
    padding: 9px 0 5px 0;
    color: #F67400;
  }
  h1{
    color:#bb09e8
  }
  h3 { 
    font-size: 140%;
    color:#bb09e8
  }
  
  header { 
    background: transparent;
    height: 150px;
  }